annotated-types==0.6.0
anyio==4.2.0
attrs @ file:///private/tmp/python-attrs-20231231-5195-5kv3i2/attrs-23.2.0
certifi @ file:///private/tmp/python-certifi-20231211-18102-76ipel/certifi-2023.11.17
cffi @ file:///private/tmp/cffi-20231211-40239-j25k6o/cffi-1.16.0
charset-normalizer @ file:///private/tmp/python-charset-normalizer-20231123-5225-x00973/charset-normalizer-3.3.2
click @ file:///private/tmp/python-click-20231211-45777-jkrufz/click-8.1.7
docutils @ file:///private/tmp/docutils-20231211-36728-9mhbst/docutils-0.20.1
exceptiongroup==1.2.0
fastapi==0.109.0
h11==0.14.0
httptools==0.6.1
idna @ file:///private/tmp/python-idna-20231125-5279-xtqzsf/idna-3.6
Jinja2 @ file:///private/tmp/python-jinja-20240110-4783-r651qg/Jinja2-3.1.3
MarkupSafe @ file:///private/tmp/python-markupsafe-20240119-4778-tstdmr/MarkupSafe-2.1.4
packaging @ file:///private/tmp/python-packaging-20231211-10905-adsfgp/packaging-23.2
pathspec @ file:///private/tmp/python-pathspec-20231212-4946-k7fih8/pathspec-0.12.1
platformdirs @ file:///private/tmp/python-platformdirs-20231204-5317-3q4okz/platformdirs-4.1.0
psutil @ file:///private/tmp/python-psutil-20240119-4673-f71z61/psutil-5.9.8
pycparser @ file:///private/tmp/pycparser-20231211-25057-cypg40/pycparser-2.21
pydantic==2.6.0
pydantic_core==2.16.1
Pygments @ file:///private/tmp/pygments-20231121-5274-1rlyumb/pygments-2.17.2
python-dateutil @ file:///private/tmp/python-dateutil-20231119-5156-1u9krby/python-dateutil-2.8.2
python-dotenv==1.0.1
PyYAML @ file:///private/tmp/pyyaml-20231018-5610-1rdh755/PyYAML-6.0.1
requests @ file:///private/tmp/python-requests-20231124-5682-96f89l/requests-2.31.0
six==1.16.0
sniffio==1.3.0
starlette==0.35.1
typing_extensions==4.9.0
urllib3 @ file:///private/tmp/python-urllib3-20231123-5594-phereu/urllib3-2.1.0
uvicorn==0.27.0.post1
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
sqlalchemy==1.4.31

